services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    hostname: mongodb
    volumes:
      - ./mongodb/initdb.d/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro 
      - mongodb-data:/data/db 
    ports:
      - "27017:27017"
    networks:
      - mongodb_network


  backend:
    container_name: backend
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment: 
      MONGO_CONNECTION_URL: mongodb://mongodb:27017
    ports:
      - 8081:3000
    networks:
      - mongodb_network
    depends_on:
      - mongodb

  frontend:
    container_name: frontend
    restart: always
    build:
      context: ./frontend
      args:
        GOOGLE_API_KEY: ${GOOGLE_API_KEY}
        NEXT_PUBLIC_BACKEND_URL: http://localhost:8080
    ports:
      - 4200:3001
    networks:
      - mongodb_network
    depends_on:
      - backend

volumes:
  mongodb-data:
    driver: local
    name: mongo-data
  mongodb-log:
    driver: local
    name: mongo-log

networks:
  mongodb_network:
    driver: bridge
    name: mongo-network
